{{#with data}}   
   <div class="featured_card">
       <div class="featured_photo" style="background-image: url({{photo}})"></div>
       <h2 class="featured_title">{{heading}}</h2>
       <p class="featured_text">{{info}}</p>
       <div class="featured_margin">
          <a class="featured" href="{{linkUrl}}">{{linkText}}</a>
       </div>
   </div>
{{/with}}   